<head>
<title>Compra</title>
</head>
<body>
<h1>Esta comprando: {{tipo}}</h1>
<form action="/pedidos/pedidoaux" method="post">
  <p>Nombre: <input type="text" name='nombre' size="40"></p>
  <p>Apellidos: <input type="text" name='apellidos' size="40" ></p>
  <p>Direccion de Entrega: <input type="text" name='direccion' size="40" ></p>
  <p>Telefono de contacto: <input type="text" name='telefono' size="40" ></p>
  <p>Anio de nacimiento: <input type="text" name='anio' ></p>
  <p>Tipo pedido: <input type="text" name='tipo_pedido' value={{tipo}} readonly></p>
  <p>
    <input type="submit" value="Enviar">
    <input type="reset" value="Borrar">
  </p>
</form>
</body>
</html>