<html>
<body>
	<h1 style="text-align: center; color: #3f7320;">PACK FIESTA</h1>
	<p>
		<strong>No solo vas a disfrutar tu, sino que vas a
						sorprender a todos tus invitados </strong>
	</p>
	<p>
		<strong></strong>
	</p>
	<p>
		<img src="PackFiesta.jpg" width="286" height="250">
	</p>
	<p>
		<strong></strong>
	</p>
	<p>
		<strong>COMENTARIOS&nbsp;</strong>
		<ul>
		{{#comentarios}}
			<li> {{texto}} Nota: {{valoracion}} </li>
		{{/comentarios}}
		</ul>
	</p>
	
	
	<button > <a href="/"> Volver atras </a> </button>
	<button > <a href="/compra?tipo=fiesta"> Comprar </a> </button>	
	<p></p>
	

</body>
</html>