<html>
<body>
	<h1 style="text-align: center; color: #3f7320;">PACK PAREJA</h1>
	<p>
		<strong>El pack de cerveza perfecto para esa noche romantica
			acompa&ntilde;ado de una buena pelicula. </strong>
	</p>
	<p>
		<strong></strong>
	</p>
	<p>
		<a href="/pareja"><img
					src="PackPareja.jpg" width="286" height="250"></a>
	</p>
	<p>
		<strong></strong>
	</p>
	<p>
		<strong>COMENTARIOS&nbsp;</strong>
		<ul>
		{{#comentarios}}
			<li> {{texto}} </li>
		{{/comentarios}}
		</ul>
	</p>
	<p></p>
</body>
</html>