<html>
<body>
	<h1 style="text-align: center; color: #3f7320;">PACK PAREJA</h1>
	<p>
		<strong>Sabemos que no eres nuevo en esto, por eso te
						ofrecemos el pack m&aacute;s acorde a ti </strong>
	</p>
	<p>
		<strong></strong>
	</p>
	<p>
		<img src="PackProfesional.jpg" width="286" height="250">
	</p>
	<p>
		<strong></strong>
	</p>
	<p>
		<strong>COMENTARIOS&nbsp;</strong>
		<ul>
		{{#comentarios}}
			<li> {{texto}} Nota: {{valoracion}} </li>
		{{/comentarios}}
		</ul>
	</p>
	<button > <a href="/"> Volver atras </a> </button>
	<button > <a href="/compra?tipo=profesional"> Comprar </a> </button>
	<p></p>
</body>
</html>